a:link {color:#54b7c0;}
a:visited {color:#54b7c0;}
a:hover {color:#54b7c0;}
a:active {color:#54b7c0;}

.fa {
  width: 1.7em;
  text-align: center;
}

.container.content {
  padding-top: 1em;
  padding-bottom: 7em;
}

.navbar .nav {
  float: right; }

.navbar-header, .navbar-collapse {
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #efefef;
  font-size: 1em;
}

.navbar-brand  {
  margin-top: -9px;
}

.navbar {
  border-radius: 0px;
}

.post {
  line-height: 1.5;
  font-size: 19px;
  margin-bottom: 20px;
}

.post-preview {
  font-size: 21px;
  margin-bottom: 150px;
}

#disqus_thread {
  margin-top: 30px;
}


.post img {
  max-width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.sidebar ul {
  margin-bottom: 70px;
}

.sidebar li {
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 20px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  padding-top: 50px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  height: 250px;
}

#dynaflex {
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}
#dynaflex figure { 
  margin: 0;
  min-width: 320px;
  max-width: 400px;
  -webkit-flex: 1 1 auto;
  flex: 1;
  transition: .5s;
}
#dynaflex figure img { 
  width: 100%; height: auto; 
}

@media screen and (max-width: 665px) {
  #dynaflex figure { min-width: 213px; }
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  /*#dynaflex img { width: 50%; }*/
}

