.fa {
  width: 1.7em;
  text-align: center;
}

.container.content {
  padding-top: 7em;
  padding-bottom: 7em;
}

.navbar .nav {
  float: right; }

.navbar-header, .navbar-collapse {
  font-family: 'Exo 2', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #efefef;
  font-size: 1em;
}
.navbar-inverse .navbar-brand {
  color: #efefef;
  font-size: 1.5em;
}

.post {
  line-height: 1.5;
  font-size: 18px;
}

.post img {
  max-width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sidebar li {
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 20px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  color: #333;
}

.footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  height: 250px;
}
