.fa {
  width: 1.7em;
  text-align: center;
}

.container.content {
  padding-top: 7em;
  padding-bottom: 7em;
}

.container-narrow {
  margin: 0 auto;
  max-width: 550px;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

.post {
  text-align:justify;
  line-height: 1.5;
  font-size: 18px;
}

.post img {
  max-width: 550px;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
