.fa {
  width: 1.7em;
  text-align: center;
}

.container.content {
  padding-top: 7em;
  padding-bottom: 7em;
}

.navbar .nav {
  float: right; }

.navbar-header, .navbar-collapse {
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #efefef;
  font-size: 1em;
}
.navbar-inverse .navbar-brand {
  color: #efefef;
  font-size: 2.5em;
}

.navbar-brand  {
  height: 45px;
  margin-top: 30px;
}

.post {
  line-height: 1.5;
  font-size: 19px;
  margin-bottom: 20px;
}

#disqus_thread {
  margin-top: 30px;
}


.post img {
  max-width: 550px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sidebar li {
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 20px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  color: #333;
}

.footer {
  padding: 40px 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  height: 250px;
}
