<div class="sidebar">
  <ul class="list-unstyled">
    <li><a href="http://twitter.com/femmefood"><i class="fa fa-twitter"></i>Twitter</a></li>
    <li><a href="https://www.facebook.com/annikaogwinnie.femmefood"><i class="fa fa-facebook"></i>Facebook</a></li>
    <li><a href="http://www.pinterest.com/source/femmefood.com/"><i class="fa fa-pinterest"></i>Pinterest</a></li>
    <li><a href="http://github.com/femmefood"><i class="fa fa-github"></i>GitHub</a></li>
    <li><a href="/atom.xml"><i class="fa fa-rss"></i>RSS Feed</a></li>
    <li><a href="http://www.bloglovin.com/en/blog/7160657"><i class="fa fa-heart"></i>Bloglovin</a></li>
  </ul>
</div>
