<div class="sidebar">
  <ul class="list-unstyled">
    <li><a href="http://twitter.com/femmefood"><i class="fa fa-twitter"></i>Twitter</a></li>
    <li><a href="https://www.facebook.com/femmefood"><i class="fa fa-facebook"></i>Facebook</a></li>
    <li><a href="http://www.pinterest.com/femmefood/"><i class="fa fa-pinterest"></i>Pinterest</a></li>
    <li><a href="http://github.com/femmefood"><i class="fa fa-github"></i>GitHub</a></li>
    <li><a href="/atom.xml"><i class="fa fa-rss"></i>RSS Feed</a></li>
    <li><a href="http://instagram.com/femmefood"><i class="fa fa-instagram"></i>Instagram</a></li>
    <li><a href="https://plus.google.com/+Femmefoodcom"><i class="fa fa-google-plus"></i>Google+</a></li>
    <li><a href="http://www.flickr.com/photos/femmefood/"><i class="fa fa-flickr"></i>flickr</a></li>
    <li><a href="http://www.bloglovin.com/en/blog/7160657"><i class="fa fa-heart"></i>Bloglovin'</a></li>
  </ul>
  <ul class="list-unstyles">
    <li><a href="http://matbloggsentralen.no/">
          <img src="/images/matbloggsentralen.png" alt="Medlem af Matbloggsentralen">
       </a>
    </li>
    <li><a href="http://madbevaegelsen.dk/">
          <img src="/images/madbevaegelsen.png" alt="Medlem af Madbevægelsen">
        </a>
    </li>
  </ul>
</div>
