<!DOCTYPE html>
<html lang="da">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="alexaVerifyID" content="pt_j0SPHyVMSv9i4SFYYnFhyh6M"/>
    <meta name="p:domain_verify" content="094aeec9946d24d6f07122a144dbf7d0"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace: '/index.html', '/' }}"/>
    {% for category in page.categories %}
    <!--<meta property="article:tag" content="{{ category }}"/>-->
    {% endfor %}
    {% for tag in page.tags %}
    <!--<meta property="article:tag" content="{{ tag }}"/>-->
    {% endfor %}
    {% if page.description %}
    <meta name="description" content="{{ page.description | truncate: 40 | strip_newlines | escape_once }}"/>
    {% else %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 40 | strip_newlines | escape_once }}"/>
    {% endif %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    <title>{{ page.title }}</title>
    <link href="{{ site.url }}{{ page.url | replace: '/index.html', '/' }}" rel="canonical"/>
    <link href="{{ site.feed }}" rel="alternate" title="{{ site.name }}" type="application/atom+xml"/>
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}"/>
    <link rel="image_src" href="{{ page.image }}"/>
    {% else %}
    <meta property="og:image" content="https://farm4.staticflickr.com/3779/12716360255_fe0bda293e.jpg"/>
    <link rel="image_src" href="https://farm4.staticflickr.com/3779/12716360255_fe0bda293e.jpg"/>
    {% endif %}
    <!-- Customs Fonts -->
    <link href='//fonts.googleapis.com/css?family=Quicksand|Josefin+Sans' rel='stylesheet' type='text/css'/>
    <!-- Bootstrap & FA -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicons -->
    <link rel="icon" sizes="228x228" href="/favicon-228.png" type="image/png"/>
    <link rel="icon" sizes="195x195" href="/favicon-195.png" type="image/png"/>
    <link rel="icon" sizes="144x144" href="/favicon-144.png" type="image/png"/>
    <link rel="icon" sizes="128x128" href="/favicon-128.png" type="image/png"/>
    <link rel="icon" sizes="96x96" href="/favicon-96.png" type="image/png"/>
    <link rel="icon" sizes="72x72" href="/favicon-72.png" type="image/png"/>
    <link rel="icon" sizes="64x64" href="/favicon-64.png" type="image/png"/>
    <link rel="icon" sizes="57x57" href="/favicon-57.png" type="image/png"/>
    <link rel="icon" sizes="48x48" href="/favicon-48.png" type="image/png"/>
    <link rel="icon" sizes="32x32" href="/favicon-32.png" type="image/png"/>
    <link rel="icon" sizes="16x16" href="/favicon-16.png" type="image/png"/>
    <!-- Apple Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon-152.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon-120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon-114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon-72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon-57.png"/>
    <!-- For IE6 and like bogu software -->
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico"/>
    <!-- JS -->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" async="async"></script>
    <script src="/js/jquery.unveil.min.js"></script>
  </head>
  <body>
    {% include facebook-sdk.html %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/logo.svg" style="height: 40px"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Blog</a></li>
            <!--<li><a href="/paa-tur">På tur</a></li>-->
            <li><a href="/ingredienser">Ingredienser</a></li>
            <li><a href="/kategorier">Kategorier</a></li>
            <li><a href="/om-femme-food">Om femme food</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container content">
      {{ content }}
    </div><!-- /.container -->
    <div class="footer clearfix">
      <div class="row-fluid">
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>© {{ site.time | date: '%Y' }} <a href="/">Femme Food</a></li>
            <li>Design by <a href="http://www.x2q.net/">x2q</a></li>
            <li>All rights reserved.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><strong>Femme Food</strong></li>
            <li><a href="/om-femme-food">Om femme food</a></li>
            <li><a href="/blogroll">Blogroll</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/paa-tur">På Tur</a></li>
            <li><a href="/kategorier">Kategorier</a></li>
            <li><a href="/ingredienser">Ingredienser</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><strong>Følg Femme Food</strong><li>
            <li><a href="http://twitter.com/femmefood"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="https://www.facebook.com/femmefood"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="http://www.pinterest.com/femmefood/"><i class="fa fa-pinterest"></i>Pinterest</a></li>
            <li><a href="http://github.com/femmefood"><i class="fa fa-github"></i>GitHub</a></li>
            <li><a href="/atom.xml"><i class="fa fa-rss"></i>RSS Feed</a></li>
            <li><a href="http://instagram.com/femmefood"><i class="fa fa-instagram"></i>Instagram</a></li>
            <li><a href="https://plus.google.com/+Femmefoodcom"><i class="fa fa-google-plus"></i>Google+</a></li>
            <li><a href="http://www.flickr.com/photos/femmefood/"><i class="fa fa-flickr"></i>flickr</a></li>
            <li><a href="http://www.bloglovin.com/en/blog/7160657"><i class="fa fa-heart"></i>Bloglovin'</a></li>
            </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><strong>Kontakt</strong></li>
            <li><a href="mailto:hello@femmefood.com"><i class="fa fa-envelope"></i>hello@femmefood.com</a></li>
            <li><a href="/samarbejde"><i class="fa fa-users"></i>Samarbejde</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery.highlight.js" async="async"></script>
    {% include ga.html %}
    {% include rate.html %}
  </body>
</html>
